.QuizQuestion {
  display: flex;
  justify-content: center;
  font-size: 2em;
  text-align: center;
}
.QuizEnd {
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  font-size: 2em;
  padding-top: 20px;
}
.QuizEnd a {
  display: block;
  padding-top: 20px;
}
ul {
  padding: 0;
  margin: 0;
}
.buttons {
  display: flex;
  justify-content: center;
  text-align: center;
}
button {
  padding: 1em;
  font-size: 1.5em;
  display: block;
  background: #00abff;
  border: none;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.50);
  cursor: pointer;
}
.error {
  color: #fff;
    background: rgba(255, 0, 0, 0.48);
    padding: 10px;
}
section:not(.buttons){
    min-height: 200px;
    text-align: center;
    line-height: 200px;
    background: #1dada1;
    color: #fff;
    font-size: 160%;
}
.buttons ul li{
    list-style: none;
    float: left;
    margin: 0px 10px;
}
.reset-page {
  text-align: center;
  margin-top: 90px;
  background: #04ad04;
  padding: 30px 0px;
  color: #fff;
  font-size: 140%;
}
.reset-page a{
  color: #fff;
}